<div class="aside_categories-list">
   <a href="#" class="aside_categories-list__toggle btn">
      Show categories
   </a>
   <div class="aside_categories-list__collapse">
      <div class="aside_categories-list__heading">
         Category name
      </div>
      <ul class="categories-menu">
         <li>
            <a href="./categories.html" class="is-active">
               <span>All</span>
               <span class="categories-menu__badge">15682</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[0]}}
               <span class="categories-menu__badge">326</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[1]}}
               <span class="categories-menu__badge">828</span>
            </a>
         </li>
         <li class="js-ajax-link">
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[2]}}
               <span class="categories-menu__badge">858</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[3]}}
               <span class="categories-menu__badge">518</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[4]}}
               <span class="categories-menu__badge">963</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[5]}}
               <span class="categories-menu__badge">613</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[6]}}
               <span class="categories-menu__badge">384</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[7]}}
               <span class="categories-menu__badge">186</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[8]}}
               <span class="categories-menu__badge">329</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[9]}}
               <span class="categories-menu__badge">704</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[10]}}
               <span class="categories-menu__badge">143</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[11]}}
               <span class="categories-menu__badge">785</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[12]}}
               <span class="categories-menu__badge">835</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[13]}}
               <span class="categories-menu__badge">602</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[14]}}
               <span class="categories-menu__badge">375</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[15]}}
               <span class="categories-menu__badge">709</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[16]}}
               <span class="categories-menu__badge">540</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[17]}}
               <span class="categories-menu__badge">885</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[18]}}
               <span class="categories-menu__badge">976</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[19]}}
               <span class="categories-menu__badge">980</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[20]}}
               <span class="categories-menu__badge">760</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[21]}}
               <span class="categories-menu__badge">929</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[22]}}
               <span class="categories-menu__badge">555</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[23]}}
               <span class="categories-menu__badge">792</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[24]}}
               <span class="categories-menu__badge">502</span>
            </a>
         </li>
         <li>
            <a href="./categories.html" class="js-ajax-link">
               {{film_genres.genre.[25]}}
               <span class="categories-menu__badge">460</span>
            </a>
         </li>
      </ul>
   </div>
</div>

