<!--ASIDE MOST VIEWED-->
<div class="section-heading">
   <h4>Most viewed videos</h4>
   <a href="#" class="section-heading__control section-heading__see-all hidden-xl hidden-xxl"> See all</a>
</div>
<div class="row row--flex">
   <div class="col-xl-6 col-lg-4 col-sm-6">
      <a href="./video.html" class="video-preview video-preview--sm js-ajax-link">
         <div class="video-preview__image">
            <span class="lazy-bg-img" data-original="images/photo_01.jpg"></span>
            <div class="video-preview__info">
               <div class="video-preview__duration">12:04</div>
               <div class="video-preview__likes">88%</div>
               <div class="video-preview__quality">HD</div>
            </div>
         </div>
         <h5 class="video-preview__descr">
            {{titles.title.[4]}}
         </h5>
      </a>
   </div>
   <div class="col-xl-6 col-lg-4 col-sm-6">
      <a href="./video.html" class="video-preview video-preview--sm js-ajax-link">
         <div class="video-preview__image">
            <span class="lazy-bg-img" data-original="images/photo_02.jpg"></span>
            <div class="video-preview__info">
               <div class="video-preview__duration">12:04</div>
               <div class="video-preview__likes">88%</div>
               <div class="video-preview__quality">HD</div>
            </div>
         </div>
         <h5 class="video-preview__descr">
            {{titles.title.[5]}}
         </h5>
      </a>
   </div>
   <div class="col-xl-6 col-lg-4 col-sm-6">
      <a href="./video.html" class="video-preview video-preview--sm js-ajax-link">
         <div class="video-preview__image">
            <span class="lazy-bg-img" data-original="images/photo_03.jpg"></span>
            <div class="video-preview__info">
               <div class="video-preview__duration">12:04</div>
               <div class="video-preview__likes">88%</div>
               <div class="video-preview__quality">HD</div>
            </div>
         </div>
         <h5 class="video-preview__descr">
            {{titles.title.[6]}}
         </h5>
      </a>
   </div>
   <div class="col-xl-6 col-lg-4 col-sm-6">
      <a href="./video.html" class="video-preview video-preview--sm js-ajax-link">
         <div class="video-preview__image">
            <span class="lazy-bg-img" data-original="images/photo_04.jpg"></span>
            <div class="video-preview__info">
               <div class="video-preview__duration">12:04</div>
               <div class="video-preview__likes">88%</div>
               <div class="video-preview__quality">HD</div>
            </div>
         </div>
         <h5 class="video-preview__descr">
            {{titles.title.[7]}}
         </h5>
      </a>
   </div>
   <div class="col-xl-6 col-lg-4 col-sm-6">
      <a href="./video.html" class="video-preview video-preview--sm js-ajax-link">
         <div class="video-preview__image">
            <span class="lazy-bg-img" data-original="images/photo_05.jpg"></span>
            <div class="video-preview__info">
               <div class="video-preview__duration">12:04</div>
               <div class="video-preview__likes">88%</div>
               <div class="video-preview__quality">HD</div>
            </div>
         </div>
         <h5 class="video-preview__descr">
            {{titles.title.[8]}}
         </h5>
      </a>
   </div>
   <div class="col-xl-6 col-lg-4 col-sm-6">
      <a href="./video.html" class="video-preview video-preview--sm js-ajax-link">
         <div class="video-preview__image">
            <span class="lazy-bg-img" data-original="images/photo_06.jpg"></span>
            <div class="video-preview__info">
               <div class="video-preview__duration">12:04</div>
               <div class="video-preview__likes">88%</div>
               <div class="video-preview__quality">HD</div>
            </div>
         </div>
         <h5 class="video-preview__descr">
            {{titles.title.[9]}}
         </h5>
      </a>
   </div>
   <div class="col-xl-6 col-lg-4 col-sm-6">
      <a href="./video.html" class="video-preview video-preview--sm js-ajax-link">
         <div class="video-preview__image">
            <span class="lazy-bg-img" data-original="images/photo_07.jpg"></span>
            <div class="video-preview__info">
               <div class="video-preview__duration">12:04</div>
               <div class="video-preview__likes">88%</div>
               <div class="video-preview__quality">HD</div>
            </div>
         </div>
         <h5 class="video-preview__descr">
            {{titles.title.[10]}}
         </h5>
      </a>
   </div>
   <div class="col-xl-6 col-lg-4 col-sm-6">
      <a href="./video.html" class="video-preview video-preview--sm js-ajax-link">
         <div class="video-preview__image">
            <span class="lazy-bg-img" data-original="images/photo_08.jpg"></span>
            <div class="video-preview__info">
               <div class="video-preview__duration">12:04</div>
               <div class="video-preview__likes">88%</div>
               <div class="video-preview__quality">HD</div>
            </div>
         </div>
         <h5 class="video-preview__descr">
            {{titles.title.[11]}}
         </h5>
      </a>
   </div>
</div>
<a href="#" class="show-more visible-xl visible-xxl"> See all</a>
<!--/ASIDE MOST VIEWED-->
